<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/img/bacteria.ico">
		<meta name="google-site-verification" content="RIvn8sP16jiMLaGGnF1h_B-bjoIBx6Go_YZU3GL_3-I"/>
		<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	</head>
		<body>
			<div class="container">
				<div class="blurb">
					<h1>Anastasia Lyulina</h1>
				</div>
			</div>
			<div class="container">
				{{ content }}
				<br>
				<br>
			</div>
		</body>
	</html>
